In [ ]:
import numpy
import pandas

In [ ]:
ls

drive/  sample_data/

In [ ]:
cd drive

[Errno 2] No such file or directory: 'drive'
/content/drive

In [ ]:
ls

MyDrive/  Shareddrives/

In [ ]:
cd MyDrive

/content/drive/MyDrive

In [ ]:
ls

'Asar 28 Techtrix Hackathon Discussion.gdoc'
'Atomic Habits Summary Speech.gdoc'
'CDC Lab Report.gdoc'
'Citizenship (1).pdf'
'Citizenship (2).pdf'
 Citizenship.pdf
 Classroom/
'Colab Notebooks'/
'early bird class schedule 2079.xlsx'
'E-commerce LabReport.gdoc'
'Futsal Registration (Responses).gsheet'
 IMG_0455.HEIC
 IMG_0456.HEIC
 IMG_0462.HEIC
 IMG_0464.HEIC
 IMG_2367.MOV
 IMG_2368.MOV
 IMG_2369.MOV
 ipphotos/
 Journal/
'Meeting notes.gdoc'
'NET Centric Lab Report.gdoc'
 Quizzy/
 quizzy.zip
 Recycler/
'Routine S7_2075.pdf'
'SE project.gdoc'
'Seventh Sem Project Proposal.gdoc'
'Sustainable Cities and Communities.gslides'
'Untitled document (1).gdoc'
'Untitled document (2).gdoc'
'Untitled document.gdoc'
'Upcoming events.gdoc'
'Usernames Flutter Class.gsheet'
'Vedas Hashtag.gdoc'
'Vedas Lab Reports'/
'Vedas Subject Work or Assignments'/

In [ ]:
cd Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

In [ ]:
ls

 data-attributes.ipynb
 data.tsv
 DWDM/
'EdgeDet-IP assignment-1.ipynb'
 edgedet-ipm13.ipynb
'Histograms: Jestha 17.ipynb'
'ImgEnhanceFrequencyDomain: IP assignment 8.ipynb'
'IP assignment 10: Noise Removal using Mean Filters.ipynb'
'*IP Asssignment 11: Noise Removal Using FD filters*.ipynb'
'Jestha14: Intensity-ClassWork.ipynb'
'Morphological Processing: IP Assignment 9.ipynb'
"Sir's File for FrequencyDomain.py"
'Stretch and slice: IP assignment 2'
 titles.tsv
 Untitled0.ipynb
 Untitled1.ipynb
 Untitled2.ipynb
 Untitled3.ipynb
 Untitled4.ipynb

In [ ]:
cd DWDM

/content/drive/MyDrive/Colab Notebooks/DWDM

In [ ]:
dataset = pandas.read_csv("pre-data.csv")

In [ ]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
type(dataset)

pandas.core.frame.DataFrame

In [ ]:
x = 10;

In [ ]:
type(x)

int

In [ ]:
dataset.isna()

   Country    Age  Salary  Purchased
0    False  False   False      False
1    False  False   False      False
2    False  False   False      False
3    False  False   False      False
4    False  False    True      False
5    False  False   False      False
6    False   True   False      False
7    False  False   False      False
8    False  False   False      False
9    False  False   False      False

In [ ]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
dataset = dataset.isna()

In [ ]:
dataset

   Country    Age  Salary  Purchased
0    False  False   False      False
1    False  False   False      False
2    False  False   False      False
3    False  False   False      False
4    False  False    True      False
5    False  False   False      False
6    False   True   False      False
7    False  False   False      False
8    False  False   False      False
9    False  False   False      False

In [ ]:
dataset = pandas.read_csv("pre-data.csv")

In [ ]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
dataset.isna().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [ ]:
dataset.dropna()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
5   France  35.0  58000.0       Yes
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
dataset = dataset.fillna(dataset.mean)

In [ ]:
dataset

,Country,Age,Salary,Purchased
0,France,44.0,72000.0,No
1,Spain,27.0,48000.0,Yes
2,Germany,30.0,54000.0,No
3,Spain,38.0,61000.0,No
4,Germany,40.0,<bound method NDFrame._add_numeric_operations....,Yes
5,France,35.0,58000.0,Yes
6,Spain,<bound method NDFrame._add_numeric_operations....,52000.0,No
7,France,48.0,79000.0,Yes
8,Germany,50.0,83000.0,No
9,France,37.0,67000.0,Yes

In [ ]:
dataset = pandas.read_csv("pre-data.csv")

In [ ]:
dataset.fillna(dataset.mean(), inplace=True)

<ipython-input-37-d9c55fd6e3e4>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.fillna(dataset.mean(), inplace=True)

In [ ]:
dataset

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [ ]:
dataset = pandas.read_csv("pre-data.csv")

In [ ]:
dataset.fillna(dataset.mean())

<ipython-input-40-0862aa1e7912>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.fillna(dataset.mean())

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [ ]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
dataset.fillna(dataset.mean())

<ipython-input-42-0862aa1e7912>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.fillna(dataset.mean())

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [ ]:
dataset['Age'].fillna(dataset['Age'].mean(), inplace=True)

In [ ]:
dataset

   Country        Age   Salary Purchased
0   France  44.000000  72000.0        No
1    Spain  27.000000  48000.0       Yes
2  Germany  30.000000  54000.0        No
3    Spain  38.000000  61000.0        No
4  Germany  40.000000      NaN       Yes
5   France  35.000000  58000.0       Yes
6    Spain  38.777778  52000.0        No
7   France  48.000000  79000.0       Yes
8  Germany  50.000000  83000.0        No
9   France  37.000000  67000.0       Yes

In [ ]:
dataset['Salary'].fillna(dataset['Salary'].mean(), inplace=True)

In [ ]:
dataset

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [ ]:
dataset.iloc[0]

Country       France
Age             44.0
Salary       72000.0
Purchased         No
Name: 0, dtype: object

In [ ]:
dataset.iloc[0, 0]

'France'

In [ ]:
dataset.iloc[0:3,0]

0     France
1      Spain
2    Germany
Name: Country, dtype: object

In [ ]:
dataset.iloc[:, 1:3]

         Age        Salary
0  44.000000  72000.000000
1  27.000000  48000.000000
2  30.000000  54000.000000
3  38.000000  61000.000000
4  40.000000  63777.777778
5  35.000000  58000.000000
6  38.777778  52000.000000
7  48.000000  79000.000000
8  50.000000  83000.000000
9  37.000000  67000.000000

In [ ]:
x = dataset.iloc[:, 0:3]

In [ ]:
y = dataset.iloc[:, 3]

In [ ]:
x

   Country        Age        Salary
0   France  44.000000  72000.000000
1    Spain  27.000000  48000.000000
2  Germany  30.000000  54000.000000
3    Spain  38.000000  61000.000000
4  Germany  40.000000  63777.777778
5   France  35.000000  58000.000000
6    Spain  38.777778  52000.000000
7   France  48.000000  79000.000000
8  Germany  50.000000  83000.000000
9   France  37.000000  67000.000000

In [ ]:
y

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()

In [ ]:
le.fit(x['Country'])

LabelEncoder()

In [ ]:
le.classes_

array(['France', 'Germany', 'Spain'], dtype=object)

In [ ]:
le.transform([2, 6, 6, 2, 1])

array([1, 2, 2, 1, 0])

In [ ]:
le.fit([1, 2, 3, 4, 10])

LabelEncoder()

In [ ]:
le.classes_

array([ 1,  2,  3,  4, 10])

In [ ]:
le.fit(x['Country'])

LabelEncoder()

In [ ]:
le.classes_

array(['France', 'Germany', 'Spain'], dtype=object)

In [ ]:
x['Country'] = le.transform(x['Country'])

In [ ]:
x

   Country        Age        Salary
0        0  44.000000  72000.000000
1        2  27.000000  48000.000000
2        1  30.000000  54000.000000
3        2  38.000000  61000.000000
4        1  40.000000  63777.777778
5        0  35.000000  58000.000000
6        2  38.777778  52000.000000
7        0  48.000000  79000.000000
8        1  50.000000  83000.000000
9        0  37.000000  67000.000000

In [ ]:
import numpy
import pandas

In [ ]:
ls

drive/  sample_data/

In [ ]:
cd drive/My Drive/Colab Notebook

[Errno 2] No such file or directory: 'drive/My Drive/Colab Notebook'
/content

In [ ]:
cd drive

/content/drive

In [ ]:
ls

MyDrive/  Shareddrives/

In [ ]:
cd MyDrive/Colab Notebook

[Errno 2] No such file or directory: 'MyDrive/Colab Notebook'
/content/drive

In [ ]:
cd MyDrive

/content/drive/MyDrive

In [ ]:
ls

'Asar 28 Techtrix Hackathon Discussion.gdoc'
'Atomic Habits Summary Speech.gdoc'
'CDC Lab Report.gdoc'
'Citizenship (1).pdf'
'Citizenship (2).pdf'
 Citizenship.pdf
 Classroom/
'Colab Notebooks'/
'early bird class schedule 2079.xlsx'
'E-commerce LabReport.gdoc'
'Futsal Registration (Responses).gsheet'
 IMG_0455.HEIC
 IMG_0456.HEIC
 IMG_0462.HEIC
 IMG_0464.HEIC
 IMG_2367.MOV
 IMG_2368.MOV
 IMG_2369.MOV
 ipphotos/
 Journal/
'Meeting notes.gdoc'
'NET Centric Lab Report.gdoc'
 Quizzy/
 quizzy.zip
 Recycler/
'Routine S7_2075.pdf'
'SE project.gdoc'
'Seventh Sem Project Proposal.gdoc'
'Sustainable Cities and Communities.gslides'
'Untitled document (1).gdoc'
'Untitled document (2).gdoc'
'Untitled document.gdoc'
'Upcoming events.gdoc'
'Usernames Flutter Class.gsheet'
'Vedas Hashtag.gdoc'
'Vedas Lab Reports'/
'Vedas Subject Work or Assignments'/

In [ ]:
cd ..
cd ..

SyntaxError: ignored

In [ ]:
cd ..

/content/drive

In [ ]:
cd ..

/content

In [ ]:
cd drive/MyDrive/Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

In [ ]:
cd DWDM

/content/drive/MyDrive/Colab Notebooks/DWDM

In [ ]:
dataset = pandas.read_csv("pre-data.csv")

In [ ]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
x = dataset.iloc[:, :-1]

In [ ]:
x

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [ ]:
y = dataset.iloc[:, -1:]

In [ ]:
y

  Purchased
0        No
1       Yes
2        No
3        No
4       Yes
5       Yes
6        No
7       Yes
8        No
9       Yes

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
x.iloc[:, 0] = le.fit_transform(x.iloc[:, 0])

In [ ]:
le = LabelEncoder()

In [ ]:
x

   Country   Age   Salary
0        0  44.0  72000.0
1        2  27.0  48000.0
2        1  30.0  54000.0
3        2  38.0  61000.0
4        1  40.0      NaN
5        0  35.0  58000.0
6        2   NaN  52000.0
7        0  48.0  79000.0
8        1  50.0  83000.0
9        0  37.0  67000.0

In [ ]:
x.iloc[:, 0] = le.inverse_transform(x.iloc[:, 0])

In [ ]:
x

   Country        Age        Salary
0   France  44.000000  72000.000000
1    Spain  27.000000  48000.000000
2  Germany  30.000000  54000.000000
3    Spain  38.000000  61000.000000
4  Germany  40.000000  63777.777778
5   France  35.000000  58000.000000
6    Spain  38.777778  52000.000000
7   France  48.000000  79000.000000
8  Germany  50.000000  83000.000000
9   France  37.000000  67000.000000

In [ ]:
from sklearn.compose import ColumnTransformer

In [ ]:
ct = ColumnTransformer([('encoder', OneHotEncoder(), [0])],remainder='passthrough')

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
x = ct.fit_transform(x)

In [ ]:
x

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.40000000e+01,
        7.20000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.70000000e+01,
        4.80000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 3.00000000e+01,
        5.40000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.80000000e+01,
        6.10000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 4.00000000e+01,
        6.37777778e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.50000000e+01,
        5.80000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.87777778e+01,
        5.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.80000000e+01,
        7.90000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 5.00000000e+01,
        8.30000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.70000000e+01,
        6.70000000e+04]])

In [ ]:
x = numpy.array(x, dtype=float)

In [ ]:
x

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.40000000e+01,
        7.20000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.70000000e+01,
        4.80000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 3.00000000e+01,
        5.40000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.80000000e+01,
        6.10000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 4.00000000e+01,
        6.37777778e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.50000000e+01,
        5.80000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.87777778e+01,
        5.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.80000000e+01,
        7.90000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 5.00000000e+01,
        8.30000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.70000000e+01,
        6.70000000e+04]])

In [ ]:
pandas.DataFrame(x, dtype=int)

<ipython-input-70-63823e82d2ca>:1: FutureWarning: In a future version, passing float-dtype values and an integer dtype to DataFrame will retain floating dtype if they cannot be cast losslessly (matching Series behavior). To retain the old behavior, use DataFrame(data).astype(dtype)
  pandas.DataFrame(x, dtype=int)

   0  1  2   3      4
0  1  0  0  44  72000
1  0  0  1  27  48000
2  0  1  0  30  54000
3  0  0  1  38  61000
4  0  1  0  40  63777
5  1  0  0  35  58000
6  0  0  1  38  52000
7  1  0  0  48  79000
8  0  1  0  50  83000
9  1  0  0  37  67000

In [ ]:
x.fillna(x.mean(), inplace=True)

<ipython-input-63-18142edb6a47>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  x.fillna(x.mean(), inplace=True)

In [ ]:
y.iloc[:, 0] = le.fit_transform(y.iloc[:, 0])

In [ ]:
y

   Purchased
0          0
1          1
2          0
3          0
4          1
5          1
6          0
7          1
8          0
9          1

In [ ]:
type(y)

pandas.core.frame.DataFrame

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrn, xtst, ytrn, ytst = train_test_split(x, y, test_size=0.25, random_state = 0)

In [ ]:
xtrn

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.70000000e+01,
        6.70000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.70000000e+01,
        4.80000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.87777778e+01,
        5.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.80000000e+01,
        7.90000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.80000000e+01,
        6.10000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.40000000e+01,
        7.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.50000000e+01,
        5.80000000e+04]])

In [ ]:
ytrn

   Purchased
9          1
1          1
6          0
7          1
3          0
0          0
5          1

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
ss = StandardScaler()

In [ ]:
x = ss.fit_transform(x)

In [ ]:
x

array([[ 1.22474487e+00, -6.54653671e-01, -6.54653671e-01,
         7.58874362e-01,  7.49473254e-01],
       [-8.16496581e-01, -6.54653671e-01,  1.52752523e+00,
        -1.71150388e+00, -1.43817841e+00],
       [-8.16496581e-01,  1.52752523e+00, -6.54653671e-01,
        -1.27555478e+00, -8.91265492e-01],
       [-8.16496581e-01, -6.54653671e-01,  1.52752523e+00,
        -1.13023841e-01, -2.53200424e-01],
       [-8.16496581e-01,  1.52752523e+00, -6.54653671e-01,
         1.77608893e-01,  6.63219199e-16],
       [ 1.22474487e+00, -6.54653671e-01, -6.54653671e-01,
        -5.48972942e-01, -5.26656882e-01],
       [-8.16496581e-01, -6.54653671e-01,  1.52752523e+00,
         0.00000000e+00, -1.07356980e+00],
       [ 1.22474487e+00, -6.54653671e-01, -6.54653671e-01,
         1.34013983e+00,  1.38753832e+00],
       [-8.16496581e-01,  1.52752523e+00, -6.54653671e-01,
         1.63077256e+00,  1.75214693e+00],
       [ 1.22474487e+00, -6.54653671e-01, -6.54653671e-01,
        -2.58340208e-01,  2.93712492e-01]])